<div class="wrapper">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-sm-12 my-auto">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div></div>
              <div class="mt-4">
                <h1 class="gloss mt-2 my-2" style=" text-align:center; color: #28df99 !important">Transaksi</h1>
                <p class=" mt-2 my-2" style=" text-align:center; color: #150129 !important">Transaksi dalam perhari</p>
                <p class=" mt-2 my-2" style=" text-align:center; "><strong>Login</strong></p>
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group row">
                    <label for="email"
                           class="col-md-4 col-form-label text-md-right">No Handphone</label>
                    <div class="col-md-6">
                      <input id="email" type="number"
                             class="form-control " name="hp"
                             value="" required autocomplete="email" autofocus>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="password"
                           class="col-md-4 col-form-label text-md-right">Password</label>
                    <div class="col-md-6">
                      <input id="password" type="password"
                             class="form-control " name="password"
                             required autocomplete="current-password">
                    </div>
                  </div>
                  <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                      <button class="btn btn-border border-dark" routerLink="/admin/dashboard">
                        Login
                      </button>
                      <a class="btn btn-link" routerLink="/login">
                        Kembali
                      </a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
